*{
 font-family: 'Mulish', sans-serif;
}
/* styling navbar */
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1170px;
 margin: 0 auto;
}
.navbar>ul{

 display: flex;
 gap: 44px;
}
.navbar>ul>li{
 list-style: none;
 color: #424247;
 font-size: 18px ;
 font-weight: 400 ;
 text-transform: capitalize;
}
.modify-1{

 color: #FF5400;
 font-size: 36px ;
 font-weight:800 ;
}
.modify-2{
 color:#FF5400 ;
 font-size:18px ;
 font-weight: 400;
}

.logo-name {
 display: flex;
 align-items: center;
 
}
.logo-name > h3{
  
 color: #131318;
 font-size: 36px;
 font-weight:800 ;

}
.logo-name> img{

 height: 48px;
 width: 56px;

}
/*  explore banner */

.banner{
 max-width: 1170px;
 margin: 49px auto;
 border: 2px solid rgb(253, 253, 253);
 background-image: linear-gradient( to top,rgba(0.50,0,0,0),rgba(0.50,0,0,0.8)),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
 background-repeat: no-repeat;
 background-size:cover;
 background-position: center;
 border-radius: 8px;
}

.banner>h4{

 font-size:64px ;
 font-weight:800 ;
 color: #FFF;
 text-align:center ;
 padding: 70px 216px 0px 216px;
}
.banner > p{
 text-align: center;
 font-size:16px ;
 font-weight:400 ;
 color:#ffffffaf ;
 padding:0px 247px ;
}

.banner-nav{
 margin: 48px 185px 106px 185px;
 max-width: 768px;
 padding: 16px;
 border-radius: 8px;
background: rgba(255, 255, 255, 0.30);

}
.banner-nav > input{
 font-size: 16px;
 color:rgba(19, 19, 24, 0.50) ;
 font-weight: 400;
 border: none;
 background-color:#FFF ;
 border-radius: 8px;
 width: 174px;
 height: 52px;
 padding-left: 15px;
}

.primary-btn{

 font-size:16px;
 color:#FFF ;
 font-weight: 400;
 border: none;
 background-color:#FF5400;
 border-radius: 8px;
 width: 174px;
 height: 52px;
}
/* popular part */

.popular-banner{
 display: flex;
 max-width: 1170px;
 margin: 100px auto;
 gap: 53px;
 align-items: center;

}
.popular-content >h3{

 font-size: 40px;
 font-weight: 800;
 color: #131318;
}
.popular-content>p{
padding-top: 24px;
color: #424247;
font-size:16px ;
}
.popular-content > ul{
 padding-top: 24px;
 
}
.popular-content>li{
 color: #424247;
 font-size: 16px;
 font-weight: 400;
}
.popular-img{

 width: 100%;
 border-radius: 10px; 
}

.popular-img > img{

 height: 100%;
 width: 100%;
}

/* destination  */

.destination-banner{

 max-width: 1170px;
 margin: 0 auto;
}

.destination-content>h3{
font-size:40px;
font-weight:800 ;
color:#131318 ;
text-align: center;
padding-top: 100px;
}

.destination-content > p{
 font-size: 16px;
 font-weight:400 ;
 color: rgba(19, 19, 24, 0.70);
 padding-top:24px ;
 text-align: center;
}
.destination-img{
 padding-top: 48px;
}
.img-1{
background-image: url(../Images/Rectangle\ 5.png);
width: 50%;
height: 300px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border-radius: 16px;
}
.row-1{
 display: flex;
 gap: 24px;
}
.img-1>h4 , .img-2>h4 ,.img-3>h4,.img-4>h4 ,.img-5>h4,.img-6>h4 ,.img-7>h4{
 color: #FFF;
 font-size: 28px;
 font-weight:800 ;
 text-align: center;
 padding-top: 60px;

}
.img-2{
background-image: url(../Images/Rectangle\ 8.png);
width: 50%;
height: 300px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border-radius: 16px;
}
/* second row  */
.row-2{
 
 display: flex;
 gap: 24px;
 margin-top: 24px;
}
.img-3{
background-image: url(../Images/Rectangle\ 6.png);
width: 32%;
height: 286px;
border-radius: 16px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.img-4{
background-image: url(../Images/Rectangle\ 7.png);
width:42% ;
height:286px ;
border-radius: 16px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

.img-5{
background-image: url(../Images/Rectangle\ 9.png);
width: 22% ;
height:286px ;
border-radius: 16px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
/* row-3 */

.row-3{
 display: flex;
 gap: 24px ;
 margin-top: 24px;
}
.img-6{
background-image: url(../Images/Rectangle\ 11.png);
width: 43%;
height:286px ;
border-radius: 16px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.img-7{
background-image: url(../Images/Rectangle\ 10.png);
width: 55%;
height: 286px;
border-radius: 16px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
/* choose */
.choose-banner{
 max-width: 1170px;
 margin: 100px auto;
}
 .choose-content > h3{
 font-size: 48px;
 font-weight: 800;
 color: #131318;
 text-align: center;
}
.two-container{
 display: flex;
 gap: 24px;
 padding-top: 50px;
}

.choose-content > p{
 text-align: center;
 font-size: 16px;
 font-weight: 400;
}

.first-container{
  background-color: rgba(251, 181, 99, 0.05);
  width: 50%;
  height: 284px;
  border-radius:16px ;
  padding: 16px 32px 16px 55px;
}

.second-container{
background-color: rgba(41, 206, 246, 0.05);
width: 50%;
height: 284px;
border-radius: 16px;
padding: 16px 32px 16px 55px;
}

.third-container{
background-color: rgba(233, 68, 68, 0.05);
width: 50%;
height: 284px;
border-radius:16px ;
margin-top: 24px;
padding: 16px 32px 16px 55px;
margin-left: 298px;
}
.first-container > p , .second-container > p ,.third-container > p{
font-size:16px ;
font-weight: 400;
color:#424247 ;
}

/* form */
.form{

 width:40% ;
 height: 422px;
 border: 1px solid #FF5400;
 padding-left: 40px;
 border-radius: 8px;
 
}
.news{
 max-width: 1170px;
 margin: 0 auto;
}

.form>h3{
 font-size:24px ;
 font-weight:800 ;
 color: #131318;
}

.form-1{
 display: flex;
 flex-direction: column;
 gap:16px;
}

.form>p{

 font-size:16px ;
 font-weight:400 ;
 color:#424247 ;
 padding: 16px 0;
}
.form-1 > input{

color:rgba(19, 19, 24, 0.30) ;
height:52px ;
width:393px ;
font-size:16px  ;
font-weight:400 ;
border-radius: 8px;
background-color:rgba(19, 19, 24, 0.05) ;
border: none;
padding-left: 10px;

}

.form-1 > .btn-2{

 color:#FFF ;
height:52px ;
width:393px ;
font-size:16px  ;
font-weight:400 ;
border-radius: 8px;
background-color:#FF5400 ;
border: none;
}


.news{
 display: flex;
 gap: 24px;
}

.news > .form-img>img{
 width: 103%;

}

.form-img > .discount{
 width: 324px;
 height: 120px;
 background-color: #FF5400;
 border-radius: 16px;
 position: relative;
 bottom: 192px;
 left: 339px;
 transform: rotate(-19deg);
 padding-top: 10px;
}

.discount > h4{
 text-align: center;
 font-size:15px ;
 font-weight:400 ;
 color: #ffffffd0;
}

.discount > h5{
 text-align: center;
 font-size:15px ;
 font-weight:800 ;
 color: #ffffffd0;

}
/* footer */

footer{
 background-color:rgba(19, 19, 24, 0.05) ;
 max-width: 1440px;
 height:502px ;
 margin: 0 auto;
}

footer > p{
 
 text-align: center;
 font-size: 16px ;
 font-weight:400 ;
}
.logo-name-1{
 display: flex;
 align-items: center;
 padding: 100px 600px 0px 600px;
}

.modify-3{

 color:#FF5400 ;
 font-size:36px ;
 font-weight: 800;
}

.logo-name-1 > h3{
 color: #131318;
 font-size: 36px;
 font-weight:800 ;
 
}
.logo-name-1 > img{

 height: 48px;
 width: 56px;
}
.logo-1{

 margin: 48px 500px 40px 630px; 
 
}

.logo-1 > i{
 font-size: 33px;
 margin-left: 10px;
}



@media screen and (max-width:576px) {
 /* nav */

nav{
 flex-direction: column;
}
.navbar>ul{
 flex-direction: column;
}

/* banner */
.banner>h4{
 font-size: 34px;
 padding: 3px;
}

.banner>p{
 font-size: 12px;
 padding: 3px;
}
.banner-nav{
 margin: 3px; 
 padding-left: 47px;
}
.banner-nav > input{
 margin-top: 16px;
 width: 255px;
 
}
.primary-btn{
margin-top: 16px;
width: 270px ;
}
/* popular-banner */
.popular-banner{
 flex-direction: column;
 padding: 0px 24px;
}
.popular-content > h3{
 font-size: 34px;
 
}
.popular-content>p {
 font-size: 14px;
}
.popular-content> li{
 font-size: 10px;
}


/* destination */
.row-1 ,.row-2 , .row-3{

 flex-direction: column;
}

.img-1 , .img-2 , .img-3 , .img-4 , .img-5 , .img-6 , .img-7{
 width: 100%;
 height: 176px;
 
}

/* choose */

.two-container{
 flex-direction: column;
 margin-left: 58px;
}
.third-container{
 margin-left:58px ;
}
/* news */
.news{
 flex-direction: column;
}
.form-1 > input{

 width: 80%;
}

.form{
 width: 80%;
}
.form-1>.btn-2{
 width: 80%;
}
.form-img{

 width: 80%;
}

.form-img > .discount {
 width: 164px;
 height: 92px;
 bottom: 125px;
 left: 196px;
}
.news > .form-img>img{
 width: 116%;
}
/* footer */
.logo-name-1{
 padding: 0px 85px;
 
}
.logo-1{
 margin: 50px 100px;
}

footer > p{
 padding: 10px 65px;
}




}


